{
  "config": [
    {
        "source_repo_version": "",
        "dest_repo": "",
        "content": [
            ""
        ]
    },
    {
        "source_repo_version": "",
        "dest_repo": "",
        "content": [
        ]
    }
  ],
  "dependency_solving": true
}

