{
  "config": [
    {"source_repo_version": "SRC1", "dest_repo": "DEST1", "content": [CONTENT1]},
    {"source_repo_version": "SRC2", "dest_repo": "DEST2", "content": []}
  ],
  "dependency_solving": true
}

